body {
    margin-left: 0px;
    margin-right: 0px;
}

div {
    border-radius: 0px;
    background-color: #f2f2f2;
    padding: 10px;
}

h1 { 
    font-family: "Verdana";
    font-size: 1em;
}

input[type=submit] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    margin: 3px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

input[type=text] {
    width: 25%;
    color: black;
    padding: 10px 10px;
    margin: 3px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

input[type=password] {
    width: 25%;
    color: black;
    padding: 10px 10px;
    margin: 3px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}